
<div class="container">
  <div class="row">

    <div class="card">
      <div class="card-body">

        <div class="row">
          <div class="col-md-12">
            <h5 class="card-title">Card title</h5>
          </div>
        </div>

        <form class="row contact_form">
          <div class="col-md-12 form-group p_star">
            <input class="form-control" placeholder="From" formControlName="nome">
          </div>
          <div class="col-md-12 form-group p_star">
            <input class="form-control" placeholder="To" formControlName="nif">
          </div>
          <div class="col-md-12 form-group p_star">
            <input class="form-control" placeholder="Message" formControlName="contacto">
          </div>

          <div class="col-md-12 form-group">
            <button class="btn_3" type="submit">
              registar
            </button>
          </div>
        </form>

      </div>
    </div>

  </div>
</div>
